<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nostrum hic iste odit impedit, voluptates maiores. Asperiores vel architecto, iusto amet odio adipisci voluptatibus quos quae natus quidem, sapiente illo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestiae similique, ratione officiis iusto cupiditate pariatur sed soluta quas ullam nostrum aperiam exercitationem laudantium magnam, culpa esse eius. Est, ratione!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi incidunt illum molestias qui dicta ad, nobis similique labore, culpa harum. Libero excepturi ab rem necessitatibus similique eaque ex officiis!</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>